body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: skyblue;
}
footer {
    font-size: 20px;
    margin: 100px;
}
.conteiner{
    background-color: aliceblue;
    border-radius: 25px;
    width: 380px;
    height: auto;
    margin: auto;
}
.Timer{
    display: flex;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
}
.buttons{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.btn{
    transition: all .3 ease-in-out;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    font-size: 15px;
    margin: 10px;
    background: #6f57f5;
}
.btn:hover{
    transform: scale(1.2);
    color: aliceblue;
    border: white;
}
#playBtn {
    background: #00ac48;
}
#resetBtn {
    background-color: red;
}
#pauseBtn,
#resumeBtn,
#resetBtn {
    display: none;
}
.box{ /* Input hora e minuto */
    width: 60px;
}
.inputTempo {
    font-size: 17px;
    display: none;
    padding-bottom: 10px;
}